.container-card {
    margin-bottom: 2rem;
    padding: 2rem 2rem;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divider {
    width: 80%;
    border: 1px #555bff solid;
    margin: 1.5rem;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile .img-profile {
    margin-right: 1rem;
}

.img-profile {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px black solid;
    padding: 1rem;
    background-color: #fafafaed;
    border-radius: 50%;
    text-align: center;
}

.content-profile p {
    padding: 2px 0;
}

.container-status {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
}

.container-candidates {
    margin: 0 1rem;
}