.principal-modal {
    padding: 25px;
    border: 1px solid #F87;
}

.containerStyle {
    border: 1px solid #000,
}

.title-interview {
    text-align: center;
}

.candidate-profile {
    display: flex;
}

.candidate-profile div h2 {
    margin-bottom: 10px;
}